# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Java
*.class
*.jar
*.war
*.ear
*.log

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Log files
*.log

# Build directories
build/
dist/
out/

# Temporary files
*.swp
*.swo
*.bak
*.tmp
*.orig

# JavaScript/TypeScript build outputs
*.map
*.bundle.js

# Package-lock files
package-lock.json

# TailwindCSS build directory
.tailwind/

# Vite
vite.config.ts

# React
public/build/

.data.mdb

.parcel-cache/
public/js/bundled/

